
/* p that contains image */
/* .main > p:nth-child(4) */
/*html body#scribble-racket-lang-org div.maincolumn div.main p */

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:has */
/* No browser support :has yet */
/* p:has(> img) { float: left; } */

/* with floats width: 50%; won't work, I think  */
img {float: left;  margin-right: .5em; margin-bottom: 2em; }
h3, h4 { clear: left; } 		/*margin-top: 2em;*/
