
/* css child selectors didn't work */
/* .footnoteref > snap:nth-child(1) > a */

/* for margin-note urls, tone-down blue link to black  */
html body#scribble-racket-lang-org div.maincolumn div.main div.SIntrapara blockquote.refpara blockquote.refcolumn blockquote.refcontent p a span.url { color: black; }

/* again, tone-down urls in notes */
html body#scribble-racket-lang-org div.maincolumn div.main div.SIntrapara span.NoteBox span.NoteContent a span.url { color: black; }

/* again, tone-down urls in nots */
html body#scribble-racket-lang-org div.maincolumn div.main p span.NoteBox span.NoteContent a span.url { color: black; }

/* tone-down footnote number from blue to black, avoid distracting readers */
html body#scribble-racket-lang-org div.maincolumn div.main p span.Footnote span.FootnoteRef span a { color: black; }

/* For Bibliography citations */

a.AutobibLink { color: black; }
