
/* indent first line of paragraphs in general, 
  by tragetting div.main's direct-descendant paragraphs */
div.main > p { text-indent: 1em; }
div.SIntrapara { text-indent: .8em; }
/* When going back to text-indenting all p paragraphs, 
     not just div.main's direct descendants, 
     remove intendation for code-blocks by uncommenting next line. */
/*  blockquote.SubFlow > p { text-indent: 0; } */
p  > a { color: black; text-decoration: underline dotted gray; }
a.indexlink { color: black; }
li > p { margin-bottom: .2em; }


/* make hyperlinks black like other text, avoid distracting yourself, the reader  */
/* for margin-note urls, tone-down blue link to black  */
html body#scribble-racket-lang-org div.maincolumn div.main div.SIntrapara blockquote.refpara blockquote.refcolumn blockquote.refcontent p a span.url { color: black; }

/* again, tone-down urls in notes */
html body#scribble-racket-lang-org div.maincolumn div.main div.SIntrapara span.NoteBox span.NoteContent a span.url { color: black; }

/* again, tone-down urls in nots */
html body#scribble-racket-lang-org div.maincolumn div.main p span.NoteBox span.NoteContent a span.url { color: black; }

/* tone-down footnote number from blue to black, avoid distracting readers */
html body#scribble-racket-lang-org div.maincolumn div.main p span.Footnote span.FootnoteRef span a { color: black; }

/* For Bibliography citations */

a.AutobibLink { color: black; }
